@keyframes typingSiteDesc {
    0% {width: 0;}
    44% { width: 0;}
    100% { width: 57.4vw;}
}

@keyframes introSideNoteAppear {
    0% {display: none}
    50% {display: none} /*subject to change*/
    100% {display: block}
}

