@keyframes typingSiteDesc {
    0% {width: 0;}
    44% { width: 0;}
    100% { width: 57.4vw;}
}

@keyframes introSideNoteAppear {
    0% {display: none} /*I don't think you can animate display*/
    50% {display: none} 
    100% {display: block}
}

@keyframes introBackgroundToWhite {
    from {background-position: right;}
    to {background-position: left;}
}

